body {
    font-family: -apple-system;
    padding: 4px;
}
:root {
  color-scheme: light dark;
}
a {
    color: #2878bb;
    text-decoration: none;
    user-select: none;
}
a.fn {
    transform: translateX(-50%) translateX(-.5ex) translateY(-50%);
}
a.vx, a.vp, a.vl {
    font-weight: 600;
}
figcaption {
    color: #626262;
    font-size: .8298755187em;
}
figure {
    text-align: center;
}
h1 {
    margin-top: 0;
    margin-bottom: .25em;
    font-size: 1.749690125em;
    font-weight: 700;
    line-height: 1.25;
}
h2 {
    margin-top: 1em;
    margin-bottom: .25em;
    font-size: 1.452025em;
    font-weight: 700;
    line-height: 1.25;
}
header {
    display: block;
}
img {
    height: auto;
    width 100%;
    max-width: 600px;
    vertical-align: bottom;
    border-style: none;
}
p {
    margin-top: 1em;
    margin-bottom: 1em;
}
p.qu {
    color: #626262;
    font-size: .8298755187em;
}
p.sb {
    text-indent: 1.5em;
}
sup {
    top: -.5em;
}
.blockTeach.rule, .boxSupplement.rule, .chart.rule, .closingContent.rule, .diagram.rule, .mapElement.rule {
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-width: 1px;
    border-color: #a7a7a7;
    background-color: transparent;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
}
.boxContent {
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 16px;
    padding-right: 16px;
}
.boxTtl {
    padding-top: 16px;
    padding-bottom: 8px;
    padding-left: 16px;
    padding-right: 16px;
}
.boxTtl.emphasized {
    background-color: #757575;
    color: #fff;
}
.boxSubTtl h2, .boxSubTtl h3, .boxSubTtl h4, .boxSubTtl h5, .boxSubTtl h6, .boxTtl h2, .boxTtl h3, .boxTtl h4, .boxTtl h5, .boxTtl h6 {
    margin: 0;
}
.cl {
    font-size: 2em;
}
.dir-ltr ol, .dir-ltr ul, .dir-ltr ol, .dir-ltr ul {
    padding-left: 1.5em;
    padding-right: 0;
}
.gen-footnote-container, .groupEndnote, .groupFootnote, .relatedContent {
    display: inherit;
    font-size: 1em;
    color: #666;
    border-top: 1px solid #9e9c9b;
    border-bottom: none;
    padding: 0;
}
.sn {
    text-indent: 0;
}
.contextTtl, .featureTtl {
    margin-top: .25em;
    margin-bottom: .25em;
    color: #626262;
}

.highlightingcolor1 {
    background-color: #ffeb3b;
}
.highlightingcolor2 {
    background-color: #9ef953;
}
.highlightingcolor3 {
    background-color: #29b6f6;
}
.highlightingcolor4 {
    background-color: #ffa1c8;
}
.highlightingcolor5 {
    background-color: #ffb976;
}
.highlightingcolor6 {
    background-color: #af85ff;
}
